APP_ENV=development
NODE_ENV=development

APP_URL=http://localhost:5173

SERVER_URL=http://localhost:4001

NEXT_PUBLIC_BACKEND_SERVICE_URL=http://localhost:4001

TZ=UTC

NEXT_PORT=8000
BACKEND_PORT=4001

DB_NAME=FlowerFinder
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=root

MEILI_
MEILI_MASTER_KEY=meilikey

REDIS_HOST=localhost
REDIS_PASSWORD=root
REDIS_PORT=6379

RABBITMQ_HOST=localhost
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_PORT=5672

AWS_ACCESS_KEY=to-be-implemented
AWS_ACCESS_SECRET_KEY=to-be-implemented
AWS_S3_REGION=eu-central-1

GOOGLE_CLIENT_ID=to-be-implemented
GOOGLE_CLIENT_SECRET=to-be-implemented
GOOGLE_CALLBACK_URL=http://localhost:5173/auth/callback/google

SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_LOGIN=angie21@ethereal.email
SMPT_PASSWORD=Gb78t3PyA9hSxd9Etd

JWT_SECRET=veryhardcode

pm_id=0